html, body {
  height: 100%;
  position: relative;
}
#drag {
    position: absolute;
    display: inline-block;
    width: 400px;
    background-color: #e99400;
    cursor: all-scroll;
    text-align: center;
    margin: auto;
  }

#drop {
  width: 50vw;
  height: 50vh;
  margin: auto;
  text-align: center;
  background-color: red;
}

/* #dropIF{
  display: none;
} */